body{
  max-width: 1000px;
  margin: 0 auto;  
  background: rgb(229, 229, 255);
  color: #000000;
  
}
h1{
  color: blue;
  border-color: white;
  border-style: solid;
  border-width: 1pixel;
}
img { 
  max-width:100%;
  height: auto;
}

.wrapper>div{
  background-color: darkcyan;
  padding: 1em;
}
.wrapper{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 1em
  grid-auto-rows 100px;
}
